<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.shiyanlou.lesson10.mapper.UserFoodHistoryMapper">
 
 	<resultMap type="com.shiyanlou.lesson10.domain.UserFoodHistory" 
 		id="UserFoodHistoryResultMap">
 		<id column="id" property="id"/>
 		<result column="user_id" property="userId"/>
 		<result column="food_quantity" property="foodQuantity"/>
 		<result column="collect_date" property="collectDate"/>
 		<association property="food" column="food_id"
 			select="com.shiyanlou.lesson10.mapper.FoodMapper.getByIdBreif" />
 	</resultMap>
 
 	<select id="getAll" parameterType="Integer" 
 		resultMap="UserFoodHistoryResultMap">
 		select 
 		id,
 		user_id,
 		food_id,
 		food_quantity,
 		collect_date
 		from user_food_history where user_id = #{userId};
 	</select>
 	
 	<resultMap type="com.shiyanlou.lesson10.domain.EnergyDate" id="EnergyDateMap">
 		<result column="sum_food_energy" property="energy"/>
 		<result column="collect_date" property="collectDate"/>
 	</resultMap>
 	
 	<select id="getSumFoodEnergy" parameterType="Integer" resultMap="EnergyDateMap">
 		select 
	      sum(food_quantity * food_energy / 500) as sum_food_energy, collect_date 
	    from 
	      user_food_history u 
	    join 
	      food f 
	    on 
	      u.food_id = f.id 
	    where 
	      user_id = #{userId}
	    group by 
	      collect_date;
 	</select>
 	
 	<insert id="insert" parameterType="com.shiyanlou.lesson10.domain.UserFoodHistory" 
 		useGeneratedKeys="true" keyProperty="id">
 		insert into 
 			user_food_history
 			(user_id, food_id, food_quantity, collect_date) 
 		values
 			(#{userId}, #{food.id}, #{foodQuantity}, #{collectDate});
 	</insert>
 </mapper>