<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.shiyanlou.lesson10.mapper.UserSportHistoryMapper">
 
 	<resultMap type="com.shiyanlou.lesson10.domain.UserSportHistory" 
 		id="UserSportHistoryResultMap">
 		<id column="id" property="id"/>
 		<result column="user_id" property="userId"/>
 		<result column="sport_time" property="sportTime"/>
 		<result column="collect_date" property="collectDate"/>
 		<association property="sport" column="sport_id"
 			select="com.shiyanlou.lesson10.mapper.SportMapper.getByIdBreif" />
 	</resultMap>
 
 	<select id="getAll" parameterType="Integer" 
 		resultMap="UserSportHistoryResultMap">
 		select 
 		id,
 		user_id,
 		sport_id,
 		sport_time,
 		collect_date
 		from user_sport_history where user_id = #{userId};
 	</select>
 	
 	<resultMap type="com.shiyanlou.lesson10.domain.EnergyDate" id="EnergyDateMap">
 		<result column="sum_consume_energy" property="energy"/>
 		<result column="collect_date" property="collectDate"/>
 	</resultMap>
 	
 	<select id="getSumConsumeEnergy" parameterType="Integer" resultMap="EnergyDateMap">
 		select 
 			sum(sport_time * consume_energy) as sum_consume_energy, collect_date 
 		from 
 			user_sport_history u 
 		join 
 			sport s 
 		on 
 			u.sport_id = s.id 
 		where 
 			user_id = #{userId}
 		group by 
 			collect_date;
 	</select>
 	
 	<insert id="insert" parameterType="com.shiyanlou.lesson10.domain.UserSportHistory" 
 		useGeneratedKeys="true" keyProperty="id">
 		insert into 
 			user_sport_history
 			(user_id, sport_id, sport_time, collect_date) 
 		values
 			(#{userId}, #{sport.id}, #{sportTime}, #{collectDate});
 	</insert>
 </mapper>